* {
  background-color: salmon;
  color: white;
}

.header li {
  background-color: white;
  color: salmon;
  font-family: helvetica;
}

.header {
  position: fixed;
  width: 800px;

}

.logo {
  padding: 50px 10px;
  border: 10px white solid;
  width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 10px;

}

h1 {
  font-family: mexcellent3d;
  font-weight: lighter;
  text-align: center;
  font-size: 100PX;
}


h2 {
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
  font-family: helvetica;
  letter-spacing: 2px;
}

img {
  align-items: center;
}
@font-face {
font-family: "mexcellent3d";
src: url("./fonts/mexcellent3d.ttf");
src:
url("./fonts/mexcellent3d.ttf") format("ttf"),
url("./fonts/mexcellent3d.ttf") format("opentype"),
url("./fonts/mexcellent3d.svg#filename") format("svg");
}
@font-face {
  font-family: "mexcellentrg";
  src: url("./fonts/mexcellentrg.ttf");
  src:
  url("./fonts/mexcellentrg.ttf") format("ttf"),
  url("./fonts/mexcellentrg.ttf") format("opentype"),
  url("./fonts/mexcellentrg.svg#filename") format("svg");
}
html {
  <!-- background: url("../resources/images/cactus.png"); -->
  background-size: cover;
}
