* {
  background-color: white;
  color: salmon;
}

li {
  color: salmon;
  font-family: filson-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: white;
  display: inline-flex;
  justify-content: flex-end;
  height: 20px;
  padding: 10px;
  letter-spacing: 2px;
  align-items: center;

}

#logo-g {
  font-family: mexcellent3d;
  font-weight: lighter;
  color: salmon;
  background-color: white;
  font-size: 35px;
  border: solid salmon 2px;
  border-radius: 100%;
 }

.header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  padding: 0px;
  opacity: 1;
  justify-content: center;
  display: inline-flex;
  z-index: 10;
}

ul {
  display: inline-block;
  background-color: inherit;
}

h1.logo {
  padding: 1px 10px;
  border: 10px white solid;
  width: 700px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 10px;
  letter-spacing: 10px;
  font-family: mexcellent3d;
  font-weight: lighter;
  text-align: center;
  font-size: 100PX;
  display: flex;
  justify-content: center;
}


h2 {
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  font-family: helvetica;
  letter-spacing: 2px;
}

img {
  align-items: center;
}

.box {
  width: auto;
  height: 1000px;
  background-color: inherit;
}

#mc_embed_signup {
  display: block;
  justify-content: center;
  background:#fff;
  font:25px Helvetica;
  text-align: center;
  width:100%;
}

@font-face {
font-family: "mexcellent3d";
src: url("./fonts/mexcellent3d.ttf");
src:
url("./fonts/mexcellent3d.ttf") format("ttf"),
url("./fonts/mexcellent3d.ttf") format("opentype"),
url("./fonts/mexcellent3d.svg#filename") format("svg");
}
@font-face {
  font-family: "mexcellentrg";
  src: url("./fonts/mexcellentrg.ttf");
  src:
  url("./fonts/mexcellentrg.ttf") format("ttf"),
  url("./fonts/mexcellentrg.ttf") format("opentype"),
  url("./fonts/mexcellentrg.svg#filename") format("svg");
}
html {
  <!-- background: url("../resources/images/cactus.png"); -->
  background-size: cover;
}
